<header id="main-header">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <ul class="nav">
            <li class="nav-item"><i class="fa-solid fa-phone"></i> : 01-5245-7999</li>
            <li class="nav-item"><i class="fa-solid fa-envelope"></i> : invent@university.edu</li>
            
          </ul>
        </div>
        <div class="col-4">
          <ul class="nav justify-content-end">
              <li class="nav-item"><i class="fa-solid fa-circle-user"></i> Sing in</li>
          </ul>
        </div>
      </div>
    </div>
</header>

<div id="mainbar">
    <div id="menu1" class="container">
        <nav class="navbar ">
            <div class="container-fluid">
                <a class="navbar-brand"><img src="assets/logo.png" id="logo"  /></a>
               
            
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" [routerLink]="['/']" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="['/campus']">Campus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/features']">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#pinned">Facts</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    </div>