<footer id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-md-4">
                <h5>About Invent</h5>
                <hr>
                <p>Invent Tech University offers a diverse array of undergraduate, college-to-university online programs. 
                    Explore our programs to start your journey!</p>
            </div>
            <div class="col-md-1 col-md-4">
                <h5>Follow Us</h5>
                <hr>
                <nav class="nav flex-column">
                    <a class="nav-link"  href="#"><i class="fa-brands fa-facebook"></i> : Facebok</a>
                    <a class="nav-link" href="#"><i class="fa-brands fa-twitter"></i> : Twitter</a>
                    <a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i> : Instagram</a>
                  </nav>
            </div>
            <div class="col-md-1 col-md-4 space">
                <h5 >Contact Us</h5>
                <hr>
                <nav class="nav flex-column">
                    <li class="nav-link"  href="#"><i class="fa-solid fa-map-location-dot"></i> Address: Av. Virginia DMV 7000</li>
                    <li class="nav-link" href="#"><i class="fa-solid fa-location-dot"></i>  Location: Washington D.C</li>
                    <li class="nav-link" href="#"><i class="fa-solid fa-calendar-days"></i> Visit tour: L-V 8:00 AM - 4:00 PM</li>
                  </nav>
            </div>
        </div>
    </div>
</footer>